body {
	font-family: 'Comic Sans MS';
	text-align: center;
	background-image: url("../images/space.jpg");
}
	
a {
    background-color:#00F0F0; 
}

h1 span {
    background-color:#00F0F0; 
	border-style: solid;
	border-color: #F83F97;
}

p span {
    background-color:#00F0F0;
	border-style: solid;
	border-color: #F83F97;
}

img.topleft {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

img.topright {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transform:scale(-1,1);
}

img.bottomright{
	position: absolute;
	top: 840px;
	right: 0;
	z-index: -1;
}

img.bottomleft{
	position: absolute;
	top: 840px;
	left: 0;
	z-index: -1;
	transform:scale(-1,1);
}

img.border {
	border-style: solid;
	border-color: #F83F97;
}
